.app__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-bottom: 0.1rem solid gray;
  font-size: 12px;
  padding: 10px 0;
}

.app__nav-items {
  display: flex;
  gap: 1.5rem;
  list-style: none;
  margin: 0;
  color: black;
  font-weight: bold;
  padding: 0;
}

.app__nav-item {
  cursor: pointer;
  transition: 0.2s ease-in;
  text-decoration: none;
  color: black;
}

.app__nav-item:hover {
  text-decoration: underline;
}

.app__nav-left,
.app__nav-right {
  display: flex;
  gap: 2rem;
}

.app__nav-rightItem {
  color: black;
  cursor: pointer;
}

.app__nav-rightItem:hover {
  text-decoration: underline;
}

.app__nav-rightIcon {
  color: black;
  color: black;
  width: 1.4rem;
  height: 1.4rem;
}
/* Additional style for the MyeBay select */
.app__nav-rightItem select {
  padding: 5px; /* Adjust padding for select element */
}

.app__nav-right-dropDown {
  outline: none;
  border: 1px solid white;
  cursor: pointer;
  text-align: right;
}
