# Environment Files
.env                   # Ignore all generic .env files
!*.env.development      # Allow pushing only .env.development

# Common Directories and Files
/node_modules            # Ignore all node_modules folders

# Client-Specific Ignores (if applicable)
client/node_modules     # Ignore client-side node_modules (if needed)
client/.env              # Ignore client-side .env (if needed)

# Server-Specific Ignores (if applicable)
server/config.env       # Ignore server-specific config.env (if needed)
server/node_modules

# Miscellaneous Ignores
.DS_Store               # Common macOS file
npm-debug.log*           # Various debug logs
yarn-debug.log*
yarn-error.log*

# IDE Specific (adjust based on your IDE)
.idea/                  # Common IntelliJ IDEA files
