// NotFound.scss
.not-found-container {
  text-align: center;
  padding: 20px;
}

.not-found-title {
  color: #ff6347; // Tomato color
  font-size: x-large;

}

.not-found-image {
  max-width: 700px;
  margin-top: 20px;
  width: 100%;

}

.not-found-text {
  color: #808080; // Gray color
}
