.app__signed-in{
  h2{
    font-size: 2rem;
    text-align: left;
    @media screen and (max-width:500px) {
      text-align: center;
    }
  }
}

.app__registration-container {
  h2 {
    text-align: center;
    font-size: xx-large;
  }
}

.app__registration-radioBtns {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0.1rem 0rem 0.5rem 0rem;
  @media screen and (max-width: 500px) {
    display: grid;
    text-align: center;
    grid-column: 1fr;
  }
}


