.app__registration-container {
  h2 {
    text-align: center;
    font-size: xx-large;
  }
}

.app__registration-radioBtns {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0.1rem 0rem 0.5rem 0rem;
}
