// AdsCarousel.scss
.ads-swiper {
  width: 100%;
  height: 100%;

  .ads-swiper__slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    .ads-swiper__image {
      width: 100%; // Set the width to 100%
      height: 100%; // Set the height to 100%
      object-fit: cover;
      border-radius: 12px;
      box-shadow: 0.4rem 0.4rem 0.5rem 0.4rem rgb(255, 242, 171);
      max-height: 35vh;
      transition: 0.3s ease-in-out;
      &:hover {
        opacity: 0.8;
      }
      @media screen and (max-width: 500px) {
        max-height: 250px;
        max-width: 500px;
        border-radius: 8px;
      }
    }

    .ads-swiper__slide-container {
      position: relative;

      .ads-swiper__image-buttons {
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);

        .ads-swiper__generate-text-button {
          background-color: #0097fc;
          color: white;
          padding: 10px;
          border: none;
          border-radius: 4px;
          cursor: pointer;
          margin: 0 5px;
        }
      }
    }
  }

  .ads-swiper__button-next,
  .ads-swiper__button-prev {
    color: white;
    font-size: 18px;
    width: 30px;
    height: 30px;
    background-color: gray;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    opacity: 0.1;

    &:after {
      content: "";
    }
    &:hover {
      opacity: 0.7;
    }
  }

  .ads-swiper__button-next {
    right: 10px;
  }

  .ads-swiper__button-prev {
    left: 10px;
  }

  @media screen and (max-width: 768px) {
    .ads-swiper__button-next,
    .ads-swiper__button-prev {
      display: none;
    }

    .ads-swiper__slide {
      .ads-swiper__container {
        .ads-swiper__image-buttons {
          position: relative;
          bottom: auto;
          left: auto;
          transform: none;
          margin-top: 10px;

          .ads-swiper__generate-text-button {
            width: 100%;
            margin: 0;
          }
        }
      }
    }
  }
}
