.app__profile-container{
    padding-left: 1rem;
    text-align: center;
    justify-content: center;
    max-width: 500px;
    width: 100%;

    h4{
        text-align: left;
    }


}

.app-profile-edit__form{
    text-align: center;
    justify-content: center;
    max-width: 400px;
    width: 100%;
    align-items: center;
    display: grid;
}