ATLAS_URI=mongodb+srv://<username>:<password>@cluster0.vr0db7g.mongodb.net/?retryWrites=true&w=majority
PORT = 5000
USER_JWT_SECRET=
BUSINESS_JWT_SECRET=
JWT_SECRET=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_CLOUD_NAME=dxgqvvg0z
CLOUDINARY_UPLOAD_PRESET=ml_default
CLODUINARY_BUSINESS_PRODUCTS_UPLOAD_PRESET=
CLODUINARY_BUSINESS_AVATARS_UPLOAD_PRESET=
CLODUINARY_USER_AVATARS_UPLOAD_PRESET=
GOOGLE_API_CLIENTID=
GOOGLE_API_CLIENSECRET=
GOOGLE_API_PROJECTID=
MYSQL_USERNAME=
MYSQL_PASS=
MYSQL_DB=