.product-list {
  align-items: center;
  text-align: center;
  justify-content: center;

  &__header {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }

  &__category-button {
    background-color: #007bff;
    color: #fff;
    padding: 8px 12px;
    cursor: pointer;
  }

  &__product-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 12fr;

    &-item {
      margin-bottom: 20px;
      border-radius: 12px;
      outline: 1px solid black;

      @media (min-width: 576px) {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      }

      & .product-list__product-link {
        color: black;
        text-decoration: none;
        transition: 0.2s ease-in-out;
        &:hover{
          text-decoration: underline;
        }
      }
    }

    &-image {
      width: 100%;
      max-width: 300px;
      max-height: 150px;
      object-fit: cover;
      border-radius: 28px;
      box-shadow: 0.1rem 0.1rem 0.1rem 0.1rem black;
    }

    &-name {
      font-size: 1rem;
      margin-top: 5px;
    }

    &-price {
      font-weight: bold;
      color: #007bff;
      margin-top: 5px;
    }
  }
}
