.product-list-layout {
  display: flex;
  gap: 2rem; /* Default gap between items */
}

.product-list {
  flex: 1;
  padding-left: 20px;
}

.product-list {
  align-items: center;
  text-align: center;
  justify-content: center;

  &__header {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }

  &__category-button {
    background-color: #007bff;
    color: #fff;
    padding: 8px 12px;
    cursor: pointer;
  }

  &__product-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Default 1 column with minimum width of 200px */
    
    @media (min-width: 768px) { /* Medium devices */
      grid-template-columns: repeat(auto-fit, minmax(200px, calc(33.333% - 20px))); /* 3 columns */
    }

    @media (min-width: 992px) { /* Desktop */
      grid-template-columns: repeat(auto-fit, minmax(200px, calc(25% - 20px))); /* 4 columns */
      gap: 1rem; /* Gap between items for desktop */
    }


    &-item {
      margin-bottom: 20px;
      border-radius: 12px;
      outline: 1px solid black;


  

      & .product-list__product-link {
        color: black;
        text-decoration: none;
        transition: 0.2s ease-in-out;
        &:hover{
          text-decoration: underline;
        }
      }
    }


    @media (min-width: 992px) { /* Desktop */
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }

    @media (min-width: 768px) { /* Medium devices */
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }


    &-image {
      width: 100%;
      max-width: 250px;
      max-height: 150px;
      object-fit: cover;
      border-radius: 12px;
      box-shadow: 0.1rem 0.1rem 0.1rem 0.1rem black;
    }

    &-name {
      font-size: 1rem;
      margin-top: 5px;
    }

    &-price {
      font-weight: bold;
      color: #007bff;
      margin-top: 5px;
    }
  }
}
