.cloudinary-btn{
        text-align: center;
        justify-content: center;
        align-items: center;
        border-radius: 8px;
        padding: 1rem 1rem 1rem 1rem;
        outline: none;
        width: 100%;
        max-width: 4rem;
        color: white;
        background-color: rgb(51, 119, 255);
    }