  /* Demo Credentials Start */

.copy-button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    margin-left: 10px;
    cursor: pointer;
  }
  
  .copy-button:hover {
    background-color: #0056b3;
  }
  

.demo-credentials-container {
    .credential-radio {
      display: flex;
      margin-bottom: 10px;
  
      label {
        margin-right: 20px;
      }
    }
  
    .demo-credentials {
      transition: max-height 0.3s ease;
      overflow: hidden;
  
      summary {
        cursor: pointer;
        padding: 5px 10px;
        background-color: #f0f0f0;
        border-radius: 5px;
        margin-bottom: 10px;
      }
  
      h6 {
        margin-bottom: 5px;
      }
    }
  }
  
  /* Demo Credentials End */